In [131]:
import pandas as pd
dados_new = pd.read_csv('dados_death.csv')

In [132]:
dados_new

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46.0,"157,376",falling,-2.4
1,"Perry County, Kentucky",21193,No,125.6,43,stable,-0.6
2,"Powell County, Kentucky",21197,No,125.3,18,stable,1.7
3,"North Slope Borough, Alaska",2185,No,124.9,5,**,**
4,"Owsley County, Kentucky",21189,No,118.5,8,stable,2.2
...,...,...,...,...,...,...,...
2808,"Eagle County, Colorado",8037,Yes,14.9,5,falling,-4.9
2809,"Summit County, Utah",49043,Yes,14.4,4,**,**
2810,"Utah County, Utah",49049,Yes,12.4,37,falling,-2.8
2811,"McKinley County, New Mexico",35031,Yes,11.6,7,falling,-3.2
2812,"Cache County, Utah",49005,Yes,9.2,7,stable,-0.7

Ainda há valores nulos nas colunas 'Tendência Recente' e 'Tendência recente taxas de mortalidade (5 anos)', precisamos excluir essas ocorrências.

In [133]:
selecao = (dados_new['Tendência Recente'] == '**') | (dados_new['Tendência recente taxas de mortalidade (5 anos)'] == '**')

In [134]:
dados_new[selecao]

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
3,"North Slope Borough, Alaska",2185,No,124.9,5,**,**
18,"Nome Census Area, Alaska",2180,No,96.1,6,**,**
36,"Upton County, Texas",48461,No,89.1,3,**,**
44,"Quitman County, Georgia",13239,No,87.2,4,**,**
85,"Knox County, Missouri",29103,No,81.5,5,**,**
...,...,...,...,...,...,...,...
2788,"Wasatch County, Utah",49051,Yes,23.1,4,**,**
2791,"Archuleta County, Colorado",8007,Yes,22.7,4,**,**
2797,"Summit County, Colorado",8117,Yes,21.6,3,**,**
2800,"Rio Grande County, Colorado",8105,Yes,21.0,3,**,**
2809,"Summit County, Utah",49043,Yes,14.4,4,**,**

In [135]:
dados = dados_new[~selecao]

## O que podemos analisar no DataFrame
- Quais condados atingiram o objetivo na Taxa de Mortalidade?
- Quais os 10 condados com maior e a menor Taxa de Mortalidade por idade?
- Quais condados não atingiram o objetivo na Taxa de Mortalidade, mas estavam com a Tendencia Recente caindo e a taxa de mortalidade negativa?
- Quais condados atingiram o objetivo na Taxa de Mortalidade, mas estavam com a Tendencia Recente subindo e a taxa de mortalidade positiva?
- Quais os condados que mais morrem pessoas por cancer?

In [136]:
dados

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46.0,"157,376",falling,-2.4
1,"Perry County, Kentucky",21193,No,125.6,43,stable,-0.6
2,"Powell County, Kentucky",21197,No,125.3,18,stable,1.7
4,"Owsley County, Kentucky",21189,No,118.5,8,stable,2.2
5,"Union County, Florida",12125,No,113.5,19,falling,-2.2
...,...,...,...,...,...,...,...
2807,"Los Alamos County, New Mexico",35028,Yes,15.8,4,stable,-2.9
2808,"Eagle County, Colorado",8037,Yes,14.9,5,falling,-4.9
2810,"Utah County, Utah",49049,Yes,12.4,37,falling,-2.8
2811,"McKinley County, New Mexico",35031,Yes,11.6,7,falling,-3.2
2812,"Cache County, Utah",49005,Yes,9.2,7,stable,-0.7

### Quais condados atingiram o objetivo na Taxa de Mortalidade?

In [137]:
selecao = dados['Objetivo Taxa Mortalidade (45,5)'] == 'Yes'

In [138]:
dados[selecao]

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
1985,"Monroe County, Florida",12087,Yes,45.5,50,falling,-1.8
1986,"Clayton County, Georgia",13063,Yes,45.5,79,falling,-2.5
1987,"Barton County, Kansas",20009,Yes,45.5,17,stable,-0.4
1988,"Northampton County, Pennsylvania",42095,Yes,45.5,177,falling,-0.8
1989,"Kingsbury County, South Dakota",46077,Yes,45.5,4,stable,-0.6
...,...,...,...,...,...,...,...
2807,"Los Alamos County, New Mexico",35028,Yes,15.8,4,stable,-2.9
2808,"Eagle County, Colorado",8037,Yes,14.9,5,falling,-4.9
2810,"Utah County, Utah",49049,Yes,12.4,37,falling,-2.8
2811,"McKinley County, New Mexico",35031,Yes,11.6,7,falling,-3.2
2812,"Cache County, Utah",49005,Yes,9.2,7,stable,-0.7

In [139]:
dados[selecao].shape[0]

777

### Quais os 10 condados com maior e a menor Taxa de Mortalidade por idade?

In [140]:
maior_taxa_mortalidade = dados[['Condado', 'Taxa Mortalidade por Idade']]
maior_taxa_mortalidade

                            Condado  Taxa Mortalidade por Idade
0                     United States                        46.0
1            Perry County, Kentucky                       125.6
2           Powell County, Kentucky                       125.3
4           Owsley County, Kentucky                       118.5
5             Union County, Florida                       113.5
...                             ...                         ...
2807  Los Alamos County, New Mexico                        15.8
2808         Eagle County, Colorado                        14.9
2810              Utah County, Utah                        12.4
2811    McKinley County, New Mexico                        11.6
2812             Cache County, Utah                         9.2

[2694 rows x 2 columns]

In [141]:
maior_taxa_mortalidade.sort_values(by = 'Taxa Mortalidade por Idade').iloc[0:10]

                            Condado  Taxa Mortalidade por Idade
2812             Cache County, Utah                         9.2
2811    McKinley County, New Mexico                        11.6
2810              Utah County, Utah                        12.4
2808         Eagle County, Colorado                        14.9
2807  Los Alamos County, New Mexico                        15.8
2806             Davis County, Utah                        17.2
2805         Box Elder County, Utah                        17.6
2804         Apache County, Arizona                        17.7
2803           Sanpete County, Utah                        18.8
2802              Iron County, Utah                        19.7

In [142]:
menor_taxa_mortalidade = dados[['Condado', 'Taxa Mortalidade por Idade']]
menor_taxa_mortalidade

                            Condado  Taxa Mortalidade por Idade
0                     United States                        46.0
1            Perry County, Kentucky                       125.6
2           Powell County, Kentucky                       125.3
4           Owsley County, Kentucky                       118.5
5             Union County, Florida                       113.5
...                             ...                         ...
2807  Los Alamos County, New Mexico                        15.8
2808         Eagle County, Colorado                        14.9
2810              Utah County, Utah                        12.4
2811    McKinley County, New Mexico                        11.6
2812             Cache County, Utah                         9.2

[2694 rows x 2 columns]

In [143]:
menor_taxa_mortalidade.sort_values(by = 'Taxa Mortalidade por Idade', ascending = False).iloc[0:10]

                      Condado  Taxa Mortalidade por Idade
1      Perry County, Kentucky                       125.6
2     Powell County, Kentucky                       125.3
4     Owsley County, Kentucky                       118.5
5       Union County, Florida                       113.5
6   McCreary County, Kentucky                       111.1
7     Leslie County, Kentucky                       110.3
8     Martin County, Kentucky                       109.1
9    Menifee County, Kentucky                       106.0
10   Jackson County, Kentucky                       104.6
11  Poinsett County, Arkansas                       103.5

### Quais condados não atingiram o objetivo na Taxa de Mortalidade, mas estavam com a Tendencia Recente caindo e a taxa de mortalidade negativa?

In [144]:
dados

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46.0,"157,376",falling,-2.4
1,"Perry County, Kentucky",21193,No,125.6,43,stable,-0.6
2,"Powell County, Kentucky",21197,No,125.3,18,stable,1.7
4,"Owsley County, Kentucky",21189,No,118.5,8,stable,2.2
5,"Union County, Florida",12125,No,113.5,19,falling,-2.2
...,...,...,...,...,...,...,...
2807,"Los Alamos County, New Mexico",35028,Yes,15.8,4,stable,-2.9
2808,"Eagle County, Colorado",8037,Yes,14.9,5,falling,-4.9
2810,"Utah County, Utah",49049,Yes,12.4,37,falling,-2.8
2811,"McKinley County, New Mexico",35031,Yes,11.6,7,falling,-3.2
2812,"Cache County, Utah",49005,Yes,9.2,7,stable,-0.7

In [145]:
dados['Tendência Recente'].unique()

array(['falling', 'stable', 'rising'], dtype=object)

In [146]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2694 entries, 0 to 2812
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Condado                                          2694 non-null   object
 1   Código Federal                                   2694 non-null   int64
 2   Objetivo Taxa Mortalidade (45,5)                 2694 non-null   object
 3   Taxa Mortalidade por Idade                       2694 non-null   float64
 4   Média de Mortes/Ano                              2694 non-null   object
 5   Tendência Recente                                2694 non-null   object
 6   Tendência recente taxas de mortalidade (5 anos)  2694 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 168.4+ KB

A coluna 'Tendência recente taxas de mortalidade (5 anos)' está sendo linda com o object, precisamos converte-la em int.

Por enquanto, veremos quais as ocorrências que não atingiram o objetivo, mas estavam com tendência recente caindo.

In [147]:
selecao = (dados['Objetivo Taxa Mortalidade (45,5)'] == 'No') & (dados['Tendência Recente'] == 'falling')

In [148]:
dados[selecao]

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46.0,"157,376",falling,-2.4
5,"Union County, Florida",12125,No,113.5,19,falling,-2.2
22,"Logan County, West Virginia",54045,No,95.1,45,falling,-1.1
43,"Madison County, Mississippi",28089,No,87.4,78,falling,-8.6
205,"Ottawa County, Oklahoma",40115,No,74.0,32,falling,-15.1
...,...,...,...,...,...,...,...
1975,"Telfair County, Georgia",13271,No,45.6,9,falling,-2.5
1976,"Suffolk County, Massachusetts",25025,No,45.6,292,falling,-2.3
1979,"Warren County, New Jersey",34041,No,45.6,59,falling,-1.4
1980,"Richmond County, New York",36085,No,45.6,233,falling,-1.7
1981,"Jackson County, Oregon",41029,No,45.6,134,falling,-1.6

In [149]:
dados['Tendência recente taxas de mortalidade (5 anos)'] = dados['Tendência recente taxas de mortalidade (5 anos)'].astype(float)

C:\Users\55519\AppData\Local\Temp\ipykernel_11840\3365199297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['Tendência recente taxas de mortalidade (5 anos)'] = dados['Tendência recente taxas de mortalidade (5 anos)'].astype(float)

In [150]:
dados['Tendência recente taxas de mortalidade (5 anos)'].dtypes

dtype('float64')

Agora sim, podemos fazer todo o filtro:

In [151]:
selecao = (dados['Objetivo Taxa Mortalidade (45,5)'] == 'No') & (dados['Tendência Recente'] == 'falling') & (dados['Tendência recente taxas de mortalidade (5 anos)'] < 0)

In [152]:
dados[selecao]

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46.0,"157,376",falling,-2.4
5,"Union County, Florida",12125,No,113.5,19,falling,-2.2
22,"Logan County, West Virginia",54045,No,95.1,45,falling,-1.1
43,"Madison County, Mississippi",28089,No,87.4,78,falling,-8.6
205,"Ottawa County, Oklahoma",40115,No,74.0,32,falling,-15.1
...,...,...,...,...,...,...,...
1975,"Telfair County, Georgia",13271,No,45.6,9,falling,-2.5
1976,"Suffolk County, Massachusetts",25025,No,45.6,292,falling,-2.3
1979,"Warren County, New Jersey",34041,No,45.6,59,falling,-1.4
1980,"Richmond County, New York",36085,No,45.6,233,falling,-1.7
1981,"Jackson County, Oregon",41029,No,45.6,134,falling,-1.6

### Quais condados atingiram o objetivo na Taxa de Mortalidade, mas estavam com a Tendencia Recente subindo e a taxa de mortalidade positiva?

In [153]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2694 entries, 0 to 2812
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Condado                                          2694 non-null   object
 1   Código Federal                                   2694 non-null   int64
 2   Objetivo Taxa Mortalidade (45,5)                 2694 non-null   object
 3   Taxa Mortalidade por Idade                       2694 non-null   float64
 4   Média de Mortes/Ano                              2694 non-null   object
 5   Tendência Recente                                2694 non-null   object
 6   Tendência recente taxas de mortalidade (5 anos)  2694 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 168.4+ KB

In [154]:
selecao = (dados['Objetivo Taxa Mortalidade (45,5)'] == 'Yes') & (dados['Tendência Recente'] == 'rising') & (dados['Tendência recente taxas de mortalidade (5 anos)'] > 0)

In [155]:
dados[selecao]

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
1998,"Franklin County, Iowa",19069,Yes,45.3,7,rising,1.9
2149,"Faribault County, Minnesota",27043,Yes,43.1,10,rising,1.8
2240,"Traill County, North Dakota",38097,Yes,41.6,5,rising,2.0
2358,"Dodge County, Minnesota",27039,Yes,40.0,8,rising,2.3

In [164]:
dados['Média de Mortes/Ano'] = dados['Média de Mortes/Ano'].replace(',', '.', regex=True)

C:\Users\55519\AppData\Local\Temp\ipykernel_11840\3347325324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['Média de Mortes/Ano'] = dados['Média de Mortes/Ano'].replace(',', '.', regex=True)

In [165]:
dados['Média de Mortes/Ano'] = dados['Média de Mortes/Ano'].astype(float)

C:\Users\55519\AppData\Local\Temp\ipykernel_11840\2351243740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['Média de Mortes/Ano'] = dados['Média de Mortes/Ano'].astype(float)

In [166]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2694 entries, 0 to 2812
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Condado                                          2694 non-null   object
 1   Código Federal                                   2694 non-null   int64
 2   Objetivo Taxa Mortalidade (45,5)                 2694 non-null   object
 3   Taxa Mortalidade por Idade                       2694 non-null   float64
 4   Média de Mortes/Ano                              2694 non-null   float64
 5   Tendência Recente                                2694 non-null   object
 6   Tendência recente taxas de mortalidade (5 anos)  2694 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 168.4+ KB

### Quais os condados que mais morrem pessoas por cancer?

In [169]:
selecao = dados[['Condado', 'Média de Mortes/Ano']]

In [171]:
selecao.sort_values(by = 'Média de Mortes/Ano', ascending = False).iloc[0:10]

                                Condado  Média de Mortes/Ano
2661          Orange County, California                979.0
920   Philadelphia County, Pennsylvania                903.0
1771               Clark County, Nevada                901.0
2717         Miami-Dade County, Florida                885.0
1521     Allegheny County, Pennsylvania                862.0
2484         Palm Beach County, Florida                852.0
1538              Cuyahoga County, Ohio                838.0
2417            Broward County, Florida                827.0
2641             Kings County, New York                824.0
2495       Riverside County, California                808.0

In [172]:
dados

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46.0,157.376,falling,-2.4
1,"Perry County, Kentucky",21193,No,125.6,43.000,stable,-0.6
2,"Powell County, Kentucky",21197,No,125.3,18.000,stable,1.7
4,"Owsley County, Kentucky",21189,No,118.5,8.000,stable,2.2
5,"Union County, Florida",12125,No,113.5,19.000,falling,-2.2
...,...,...,...,...,...,...,...
2807,"Los Alamos County, New Mexico",35028,Yes,15.8,4.000,stable,-2.9
2808,"Eagle County, Colorado",8037,Yes,14.9,5.000,falling,-4.9
2810,"Utah County, Utah",49049,Yes,12.4,37.000,falling,-2.8
2811,"McKinley County, New Mexico",35031,Yes,11.6,7.000,falling,-3.2
2812,"Cache County, Utah",49005,Yes,9.2,7.000,stable,-0.7

In [173]:
dados.to_csv('new_dados_death.csv')