In [2]:
import pandas as pd
dados = pd.read_csv('death .csv')

In [3]:
dados.head()

,index,County,FIPS,Met Objective of 45.5? (1),Age-Adjusted Death Rate,Lower 95% Confidence Interval for Death Rate,Upper 95% Confidence Interval for Death Rate,Average Deaths per Year,Recent Trend (2),Recent 5-Year Trend (2) in Death Rates,Lower 95% Confidence Interval for Trend,Upper 95% Confidence Interval for Trend
0,0,United States,0,No,46,45.9,46.1,"157,376",falling,-2.4,-2.6,-2.2
1,1,"Perry County, Kentucky",21193,No,125.6,108.9,144.2,43,stable,-0.6,-2.7,1.6
2,2,"Powell County, Kentucky",21197,No,125.3,100.2,155.1,18,stable,1.7,0,3.4
3,3,"North Slope Borough, Alaska",2185,No,124.9,73,194.7,5,**,**,**,**
4,4,"Owsley County, Kentucky",21189,No,118.5,83.1,165.5,8,stable,2.2,-0.4,4.8

In [4]:
# Não há necessidade de ter 2 index, por isso, vamos apagar o que veio com o DataFrame e manter o do Jupyter
dados.drop(['index'], axis = 1, inplace = True)

In [5]:
dados.head()

,County,FIPS,Met Objective of 45.5? (1),Age-Adjusted Death Rate,Lower 95% Confidence Interval for Death Rate,Upper 95% Confidence Interval for Death Rate,Average Deaths per Year,Recent Trend (2),Recent 5-Year Trend (2) in Death Rates,Lower 95% Confidence Interval for Trend,Upper 95% Confidence Interval for Trend
0,United States,0,No,46,45.9,46.1,"157,376",falling,-2.4,-2.6,-2.2
1,"Perry County, Kentucky",21193,No,125.6,108.9,144.2,43,stable,-0.6,-2.7,1.6
2,"Powell County, Kentucky",21197,No,125.3,100.2,155.1,18,stable,1.7,0,3.4
3,"North Slope Borough, Alaska",2185,No,124.9,73,194.7,5,**,**,**,**
4,"Owsley County, Kentucky",21189,No,118.5,83.1,165.5,8,stable,2.2,-0.4,4.8

In [6]:
dados.rename(columns = {'County' : 'Condado', 'FIPS' : 'Código Federal', 'Met Objective of 45.5? (1)' : 'Objetivo Taxa Mortalidade (45,5)', 'Age-Adjusted Death Rate' : 'Taxa Mortalidade por Idade', 'Average Deaths per Year' : 'Média de Mortes/Ano', 'Recent Trend (2)' : 'Tendência Recente', 'Recent 5-Year Trend (2) in Death Rates' : 'Tendência recente taxas de mortalidade (5 anos)'}, inplace = True)

In [7]:
dados.head()

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Lower 95% Confidence Interval for Death Rate,Upper 95% Confidence Interval for Death Rate,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos),Lower 95% Confidence Interval for Trend,Upper 95% Confidence Interval for Trend
0,United States,0,No,46,45.9,46.1,"157,376",falling,-2.4,-2.6,-2.2
1,"Perry County, Kentucky",21193,No,125.6,108.9,144.2,43,stable,-0.6,-2.7,1.6
2,"Powell County, Kentucky",21197,No,125.3,100.2,155.1,18,stable,1.7,0,3.4
3,"North Slope Borough, Alaska",2185,No,124.9,73,194.7,5,**,**,**,**
4,"Owsley County, Kentucky",21189,No,118.5,83.1,165.5,8,stable,2.2,-0.4,4.8

In [8]:
dados.drop(['Lower 95% Confidence Interval for Death Rate', 'Upper 95% Confidence Interval for Death Rate', 'Lower 95% Confidence Interval for Trend', 'Upper 95% Confidence Interval for Trend'], axis = 1, inplace = True)

In [9]:
dados.head()

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46,"157,376",falling,-2.4
1,"Perry County, Kentucky",21193,No,125.6,43,stable,-0.6
2,"Powell County, Kentucky",21197,No,125.3,18,stable,1.7
3,"North Slope Borough, Alaska",2185,No,124.9,5,**,**
4,"Owsley County, Kentucky",21189,No,118.5,8,stable,2.2

In [10]:
dados.shape

(3141, 7)

In [11]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Condado                                          3141 non-null   object
 1   Código Federal                                   3141 non-null   int64
 2   Objetivo Taxa Mortalidade (45,5)                 3141 non-null   object
 3   Taxa Mortalidade por Idade                       3141 non-null   object
 4   Média de Mortes/Ano                              3141 non-null   object
 5   Tendência Recente                                3141 non-null   object
 6   Tendência recente taxas de mortalidade (5 anos)  3141 non-null   object
dtypes: int64(1), object(6)
memory usage: 171.9+ KB

In [12]:
dados['Condado'].unique()

array(['United States', 'Perry County, Kentucky',
       'Powell County, Kentucky', ..., 'Zapata County, Texas',
       'Zavala County, Texas', 'Ziebach County, South Dakota'],
      dtype=object)

In [13]:
dados['Condado'].value_counts()

United States                   1
Powell County, Montana          1
Tillamook County, Oregon        1
Aiken County, South Carolina    1
Union County, South Dakota      1
                               ..
Upson County, Georgia           1
Towns County, Georgia           1
La Salle County, Illinois       1
Union County, Iowa              1
Ziebach County, South Dakota    1
Name: Condado, Length: 3141, dtype: int64

In [14]:
dados['Código Federal'].unique()

array([    0, 21193, 21197, ..., 48505, 48507, 46137], dtype=int64)

In [15]:
dados['Código Federal'].value_counts()

0        1
30077    1
41057    1
45003    1
46127    1
        ..
13293    1
13281    1
17099    1
19175    1
46137    1
Name: Código Federal, Length: 3141, dtype: int64

In [16]:
dados['Objetivo Taxa Mortalidade (45,5)'].unique()

array(['No', 'Yes', '*'], dtype=object)

In [17]:
dados['Objetivo Taxa Mortalidade (45,5)'].value_counts()

No     1985
Yes     828
*       328
Name: Objetivo Taxa Mortalidade (45,5), dtype: int64

In [18]:
selecao = dados['Objetivo Taxa Mortalidade (45,5)'] == '*'
dados[selecao]

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
2813,"Adams County, Idaho",16003,*,*,*,**,**
2814,"Adams County, Iowa",19003,*,*,*,*,*
2815,"Adams County, North Dakota",38001,*,*,*,**,**
2816,"Aleutians East Borough, Alaska<sup>3</sup>",2013,*,*,*,**,**
2817,"Aleutians West Census Area, Alaska<sup>3</sup>",2016,*,*,*,**,**
...,...,...,...,...,...,...,...
3136,"Yakutat City and Borough, Alaska<sup>3</sup>",2282,*,*,*,**,**
3137,"Yukon-Koyukuk Census Area, Alaska",2290,*,*,*,**,**
3138,"Zapata County, Texas",48505,*,*,*,*,*
3139,"Zavala County, Texas",48507,*,*,*,**,**
3140,"Ziebach County, South Dakota",46137,*,*,*,**,**

In [19]:
dados['Taxa Mortalidade por Idade'].unique()

array(['46', '125.6', '125.3', '124.9', '118.5', '113.5', '111.1',
       '110.3', '109.1', '106', '104.6', '103.5', '103.3', '98.7', '98.5',
       '97.2', '96.5', '96.1', '95.6', '95.3', '95.1', '94.9', '94.6',
       '92.7', '92.5', '92.3', '91.9', '90.8', '90.5', '90.2', '89.6',
       '89.3', '89.2', '89.1', '89', '88.9', '88', '87.9', '87.4', '87.2',
       '87', '86.8', '86.6', '85.9', '85.4', '85.1', '84.8', '84.5',
       '84.3', '84.2', '84.1', '84', '83.8', '83.6', '83.5', '83.1', '83',
       '82.7', '82.3', '82', '81.9', '81.7', '81.6', '81.5', '81.4',
       '81.3', '81.2', '81.1', '81', '80.8', '80.6', '80.5', '80.3',
       '80.2', '80.1', '80', '79.9', '79.8', '79.6', '79.5', '79.3',
       '79.1', '79', '78.8', '78.7', '78.5', '78.4', '78.3', '78.2',
       '78.1', '78', '77.8', '77.7', '77.6', '77.5', '77.4', '77.3',
       '76.9', '76.8', '76.7', '76.6', '76.4', '76.3', '76.2', '76.1',
       '76', '75.9', '75.8', '75.7', '75.6', '75.4', '75.3', '75.2',
       '75.1', '75', '74.9', '74.8', '74.7', '74.6', '74.5', '74.4',
       '74.3', '74.2', '74.1', '74', '73.9', '73.8', '73.7', '73.6',
       '73.5', '73.4', '73.2', '73.1', '73', '72.8', '72.7', '72.6',
       '72.5', '72.4', '72.3', '72.2', '72.1', '71.9', '71.8', '71.7',
       '71.6', '71.5', '71.4', '71.3', '71.2', '71.1', '70.9', '70.8',
       '70.7', '70.6', '70.5', '70.4', '70.2', '70.1', '70', '69.9',
       '69.7', '69.6', '69.5', '69.4', '69.3', '69.2', '69.1', '69',
       '68.9', '68.8', '68.7', '68.6', '68.5', '68.4', '68.3', '68.2',
       '68.1', '68', '67.9', '67.8', '67.7', '67.6', '67.5', '67.4',
       '67.3', '67.2', '67.1', '67', '66.9', '66.8', '66.7', '66.6',
       '66.5', '66.4', '66.3', '66.2', '66.1', '66', '65.9', '65.8',
       '65.7', '65.6', '65.5', '65.4', '65.3', '65.2', '65.1', '65',
       '64.9', '64.8', '64.7', '64.6', '64.5', '64.4', '64.3', '64.2',
       '64.1', '64', '63.9', '63.8', '63.7', '63.6', '63.5', '63.4',
       '63.3', '63.2', '63.1', '63', '62.9', '62.8', '62.7', '62.6',
       '62.5', '62.4', '62.3', '62.2', '62.1', '62', '61.9', '61.8',
       '61.7', '61.6', '61.5', '61.4', '61.3', '61.2', '61.1', '61',
       '60.9', '60.8', '60.7', '60.6', '60.5', '60.4', '60.3', '60.2',
       '60.1', '60', '59.9', '59.8', '59.7', '59.6', '59.5', '59.4',
       '59.3', '59.2', '59.1', '59', '58.9', '58.8', '58.7', '58.6',
       '58.5', '58.4', '58.3', '58.2', '58.1', '58', '57.9', '57.8',
       '57.7', '57.6', '57.5', '57.4', '57.3', '57.2', '57.1', '57',
       '56.9', '56.8', '56.7', '56.6', '56.5', '56.4', '56.3', '56.2',
       '56.1', '56', '55.9', '55.8', '55.7', '55.6', '55.5', '55.4',
       '55.3', '55.2', '55.1', '55', '54.9', '54.8', '54.7', '54.6',
       '54.5', '54.4', '54.3', '54.2', '54.1', '54', '53.9', '53.8',
       '53.7', '53.6', '53.5', '53.4', '53.3', '53.2', '53.1', '53',
       '52.9', '52.8', '52.7', '52.6', '52.5', '52.4', '52.3', '52.2',
       '52.1', '52', '51.9', '51.8', '51.7', '51.6', '51.5', '51.4',
       '51.3', '51.2', '51.1', '51', '50.9', '50.8', '50.7', '50.6',
       '50.5', '50.4', '50.3', '50.2', '50.1', '50', '49.9', '49.8',
       '49.7', '49.6', '49.5', '49.4', '49.3', '49.2', '49.1', '49',
       '48.9', '48.8', '48.7', '48.6', '48.5', '48.4', '48.3', '48.2',
       '48.1', '48', '47.9', '47.8', '47.7', '47.6', '47.5', '47.4',
       '47.3', '47.2', '47.1', '47', '46.9', '46.8', '46.7', '46.6',
       '46.5', '46.4', '46.3', '46.2', '46.1', '45.9', '45.8', '45.7',
       '45.6', '45.5', '45.4', '45.3', '45.2', '45.1', '45', '44.9',
       '44.8', '44.7', '44.6', '44.5', '44.4', '44.3', '44.2', '44.1',
       '44', '43.9', '43.8', '43.7', '43.6', '43.5', '43.4', '43.3',
       '43.2', '43.1', '43', '42.9', '42.8', '42.7', '42.6', '42.5',
       '42.4', '42.3', '42.2', '42.1', '42', '41.9', '41.8', '41.7',
       '41.6', '41.5', '41.4', '41.3', '41.2', '41.1', '41', '40.9',
       '40.8', '40.7', '40.6', '40.5', '40.4', '40.3', '40.2', '40.1',
       '40', '39.9', '39.8', '39.7', '39.6', '39.5', '39.4', '39.3',
       '39.2', '39.1', '39', '38.9', '38.8', '38.7', '38.6', '38.5',
       '38.4', '38.3', '38.2', '38.1', '38', '37.9', '37.8', '37.7',
       '37.6', '37.5', '37.4', '37.3', '37.2', '37.1', '37', '36.9',
       '36.8', '36.7', '36.6', '36.5', '36.4', '36.3', '36.2', '36.1',
       '36', '35.9', '35.8', '35.7', '35.6', '35.5', '35.4', '35.3',
       '35.2', '35.1', '35', '34.9', '34.8', '34.7', '34.6', '34.5',
       '34.4', '34.3', '34.2', '34.1', '34', '33.9', '33.8', '33.7',
       '33.6', '33.5', '33.4', '33.3', '33.2', '33.1', '33', '32.9',
       '32.7', '32.6', '32.5', '32.4', '32.3', '32.2', '32.1', '32',
       '31.9', '31.8', '31.7', '31.5', '31.4', '31.3', '31.2', '31.1',
       '31', '30.9', '30.7', '30.6', '30.5', '30.4', '30.3', '30.1', '30',
       '29.9', '29.8', '29.7', '29.6', '29.5', '29.4', '29.3', '29.1',
       '28.9', '28.8', '28.7', '28.6', '28.4', '28.3', '28.2', '27.8',
       '27.6', '27.5', '27', '26.9', '26.8', '26.6', '26.5', '26.4',
       '26.3', '26.1', '25.7', '25.6', '25.5', '25.4', '25.3', '25.1',
       '25', '24.8', '24.7', '24.6', '24.4', '24.3', '24', '23.9', '23.6',
       '23.1', '23', '22.8', '22.7', '22.5', '22.2', '22.1', '21.6',
       '21.3', '21', '20.7', '19.7', '18.8', '17.7', '17.6', '17.2',
       '15.8', '14.9', '14.4', '12.4', '11.6', '9.2', '*'], dtype=object)

In [20]:
dados['Taxa Mortalidade por Idade'].value_counts()

*        328
48.3      19
51.8      17
56.3      15
54.4      14
        ...
74.9       1
95.6       1
95.3       1
74.8       1
109.1      1
Name: Taxa Mortalidade por Idade, Length: 618, dtype: int64

In [21]:
selecao = dados['Taxa Mortalidade por Idade'] == '*'
dados[selecao]

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
2813,"Adams County, Idaho",16003,*,*,*,**,**
2814,"Adams County, Iowa",19003,*,*,*,*,*
2815,"Adams County, North Dakota",38001,*,*,*,**,**
2816,"Aleutians East Borough, Alaska<sup>3</sup>",2013,*,*,*,**,**
2817,"Aleutians West Census Area, Alaska<sup>3</sup>",2016,*,*,*,**,**
...,...,...,...,...,...,...,...
3136,"Yakutat City and Borough, Alaska<sup>3</sup>",2282,*,*,*,**,**
3137,"Yukon-Koyukuk Census Area, Alaska",2290,*,*,*,**,**
3138,"Zapata County, Texas",48505,*,*,*,*,*
3139,"Zavala County, Texas",48507,*,*,*,**,**
3140,"Ziebach County, South Dakota",46137,*,*,*,**,**

In [22]:
a = dados.shape[0]

In [23]:
a

3141

In [24]:
b = dados[selecao].shape[0]
b

328

In [25]:
a - b

2813

In [26]:
dados_new = dados[~selecao]

In [27]:
dados_new.shape[0]

2813

In [28]:
dados_new

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46,"157,376",falling,-2.4
1,"Perry County, Kentucky",21193,No,125.6,43,stable,-0.6
2,"Powell County, Kentucky",21197,No,125.3,18,stable,1.7
3,"North Slope Borough, Alaska",2185,No,124.9,5,**,**
4,"Owsley County, Kentucky",21189,No,118.5,8,stable,2.2
...,...,...,...,...,...,...,...
2808,"Eagle County, Colorado",8037,Yes,14.9,5,falling,-4.9
2809,"Summit County, Utah",49043,Yes,14.4,4,**,**
2810,"Utah County, Utah",49049,Yes,12.4,37,falling,-2.8
2811,"McKinley County, New Mexico",35031,Yes,11.6,7,falling,-3.2
2812,"Cache County, Utah",49005,Yes,9.2,7,stable,-0.7

In [29]:
dados_new.index = range(dados_new.shape[0])

In [30]:
dados_new

,Condado,Código Federal,"Objetivo Taxa Mortalidade (45,5)",Taxa Mortalidade por Idade,Média de Mortes/Ano,Tendência Recente,Tendência recente taxas de mortalidade (5 anos)
0,United States,0,No,46,"157,376",falling,-2.4
1,"Perry County, Kentucky",21193,No,125.6,43,stable,-0.6
2,"Powell County, Kentucky",21197,No,125.3,18,stable,1.7
3,"North Slope Borough, Alaska",2185,No,124.9,5,**,**
4,"Owsley County, Kentucky",21189,No,118.5,8,stable,2.2
...,...,...,...,...,...,...,...
2808,"Eagle County, Colorado",8037,Yes,14.9,5,falling,-4.9
2809,"Summit County, Utah",49043,Yes,14.4,4,**,**
2810,"Utah County, Utah",49049,Yes,12.4,37,falling,-2.8
2811,"McKinley County, New Mexico",35031,Yes,11.6,7,falling,-3.2
2812,"Cache County, Utah",49005,Yes,9.2,7,stable,-0.7

In [31]:
dados_new.to_csv('dados_death.csv', index = False)